h1.big_white {
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 46px;
  border: 5px solid white;
  font-weight: 600;
  display: block;
  width: 370px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

h2.white {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  color: white;
}

p {
  font-size: 12px;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px;
}

p.white {
  font-size: 12px;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px;
  color: white;
}

p.white_condenced {
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
}

a.white {
  font-size: 12px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 600;
  color: white;
  letter-spacing: 1.2px;
}

a.white:hover {
  color: #2d8de0;
  cursor: pointer;
  text-decoration: underline;
}
